<% content_for(:title, "モンスター一覧") %>

<div class="max-w-4xl mx-auto px-4 py-8">

  <div class="mb-6">
    <%= link_to "新しいモンスターを雇う",
        new_owned_monster_path,
        class: "inline-block px-4 py-2 rounded-full bg-pink-200 hover:bg-pink-300 transition" %>
  </div>

  <div class="mb-6">
    <h1 class="text-3xl font-bold mb-3">モンスター一覧</h1>
    <br>
    <span class="bg-slate-100 text-slate-600 text-xs font-black px-2.5 py-1 rounded-full border border-slate-300">
      <%= @owned_monsters.count %> / <%= OwnedMonster::MAX_MONSTER_COUNT %>
    </span>
  </div>

  <div class="space-y-4">
    <%= render @owned_monsters %>
  </div>

</div>
