<div class="top-page-container">

  <h1 class="top-page-title">ポモクエ</h1>

  <div class="top-page-button-group">
    <%= link_to "ログイン", login_path, class: "btn-primary-pink" %>

    <%= link_to "新規登録", new_user_path, class: "btn-primary-pink" %>
  </div>
</div>
