<div class="top-page-container">

  <h1 class="top-page-title">ポモクエ(仮)</h1>

  <div class="top-page-button-group">
    <%= link_to "ログイン", "", class: "btn-primary-pink" %>

    <%= link_to "新規登録", "", class: "btn-primary-pink" %>
  </div>
</div>
